{% extends 'blank.html' %}

{% block title %}Create Your Team Project{% endblock %}

{% block content %}
    <div class="ui text container">
        <div class="ui large header">Group: {{ group.title }}</div>
        <form class="ui large form" method="post" action={% url 'create_project' group.pk %}>
            {% csrf_token %}
            <div class="ui stacked segment">
                <div class="field">
                    {{ form.errors }}
                    {% for field in form.visible_fields %}
                    <p>{{field.label_tag}}</p>
                    {{field}}
                    {% endfor %}
                    {% for field in form.hidden_fields %}
                    {{field}}
                    {% endfor %}    
                </div>
                <div class="ui fluid large teal submit button">submit</div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {$(".ui.form").form();});
</script>
{% endblock %}
