{% extends 'blank.html' %} {% load static %} {% block localjs %}
<script src="{% static " js/global.js " %}"></script> {% endblock %} {% block title %}Timer{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-bar"></i>
            Total Projects</div>
        <div class="card-body">
          <canvas id="myBarChart" width="100%" height="50"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-bar"></i>
              Projects Finished</div>
          <div class="card-body">
            <canvas id="myBarChart2" width="100%" height="50"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-pie"></i>
           Progress</div>
        <div class="card-body">
          <canvas id="myPieChart" width="100%" height="50"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
</div>
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Statistics</div>
    <div class="card-body">
      <canvas id="myAreaChart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

    
    <!-- Page level plugin JavaScript-->
    <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>

    <!-- Demo scripts for this page-->
    <script src="{% static "js/demo/chart-area-demo.js" %}"></script>
    <script src="{% static "js/demo/chart-bar-demo.js" %}"></script>
    <script src="{% static "js/demo/chart-bar-demo2.js" %}"></script>
    <script src="{% static "js/demo/chart-pie-demo.js" %}"></script>
{% endblock %}